/*html,body,header {*/
    /*height: 100%;*/
/*}*/

.test2 {
    opacity: 0.5;
}
textarea {
    resize: none
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: center center no-repeat;
    background-color: black;
}

.navbar-color {
    background-color: rgba(29, 92, 150, 1);
}
h2 {
    font-weight: bold;
    font-size:xx-large;
    color: #004080;
}
.title_margin {
    margin-top: 100vh;
}
.diploms-sm {
    display: none;
}




@media only screen
and (min-device-width : 320px)
and (max-device-width : 435px) {
    #intro { 
    background-attachment: unset;
        height: 450px;
        margin-top: 56px;
    }
    .carousel-caption {
        display: none;
    }
    .diploms-lg {
        display: none;
    }
    .diploms-sm {
        display: flex;
        margin-bottom: 10px;
    }
    .main_screen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



